name: Release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "The release tag to use"
        required: true
        type: string
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create Sentry Release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          version: "singularity@${{ github.event.inputs.tag }}"
          
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          commit: ${{ github.ref_name }}
          draft: true
          name: "Version ${{ github.event.inputs.tag }}"
          token: ${{ secrets.GITHUB_TOKEN }}

